div{
  background-color: blue;
  width: 650px;
  height: 490px;
  overflow: scroll;
}
body{
  background-image: url('../images/darktheme.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.Contents{
  color: white;
  font-size: 32px;
  position: relative;
  float: center;
}
