.videobox{
    background-color: yellow;
    width: 456px;
    height: 305px;
    margin: 25px;
    overflow: auto
}

.vidname{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-size: 35px;
}
.container{
    width: 835px;
    height: 505px;
    background-color: green;
    border-radius: 10px;
    overflow: auto;
}
.big{
    font-size: 55px;
}
.hidden-container{
    width: inherit;
    background-color: inherit;
    height: 15px;
}